{
    "compilerOptions": {
        "target": "ES2022",
        "lib": ["dom", "dom.iterable", "esnext"],
        "allowJs": true,
        "strict": true,
        "jsx": "preserve",
        "moduleResolution": "bundler"
    },
    "include": ["src/**/*", "tests/**/*"],
    "exclude": ["node_modules"]
}
