from click.testing import CliRunner
from {{ project_name_snake }}.cli import cli


def test_version() -> None:
    runner = CliRunner()
    result = runner.invoke(cli, ["version"])
    assert result.exit_code == 0
    assert "0.1.0" in result.output
